<div class="card">
  <img src="https://picsum.photos/{{index}}" alt="John" style="width:100%">
  <h1>{{personDetails.firstName}}</h1>
  <p class="title">{{personDetails.role}}</p>
  <p>Mindbody</p>
  <p><button onClick={{action "openModal" personDetails}}>Contact</button></p>
</div>