<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <button onClick={{action "closeModal"}}><span class="close">&times;</span></button>
      <h2>{{personInfo.firstName}}</h2>
    </div>
    <div class="modal-body">
      <h2>{{personInfo.firstName}}</h2>
      <p>Some text in the Modal Body</p>
      <p>Some other text...</p>
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>

</div>